body {
    font-family: Arial, sans-serif;
    background-color: gainsboro;
}
h1, h3 {
  text-align: center;
}
table {
  border: 2px solid black;
  width: 650px;
  margin: 0 auto;
  display: table;
}
td,th {
  border-top: 2px solid black;
  border: 2px solid black;
}
.tag {
  font-family: monospace;
  background-color: beige;
}
